.main-content {
	position: relative;
	height: 100%;
	overflow: auto;

	// All fab buttons should be placed in bottom right corner
	button.mat-fab {
		position: absolute;
		bottom: 0;
		right: 0;
		margin: 15px;
	}

	// All tables should be full-width with fixed font-size for columns
	table {
		width: 100%;

		th {
			font-size: 1.05vw;
		}
	}

	mat-paginator {
		font-size: 1.05vw;
	}
}

.clickable {
	cursor: pointer;
}

.align-end {
	display: flex;
	justify-content: end;
}

.full-width {
	width: 100%;
}
