<div class="main-content">
	<h1>Available products</h1>
	<div class="products-table-container">
		<table [dataSource]="datasource" class="products-table" mat-table matSort matSortActive="name"
			   matSortDirection="desc" matSortDisableClear>
			<!-- Name Column -->
			<ng-container matColumnDef="name">
				<th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
				<td *matCellDef="let row" mat-cell>{{row.name}}</td>
			</ng-container>

			<!-- Description Column -->
			<ng-container matColumnDef="description">
				<th *matHeaderCellDef mat-header-cell mat-sort-header>Description</th>
				<td *matCellDef="let row" mat-cell>{{row.description}}</td>
			</ng-container>

			<!-- Price Column -->
			<ng-container matColumnDef="price">
				<th *matHeaderCellDef mat-header-cell mat-sort-header>Original price</th>
				<td *matCellDef="let row" mat-cell>{{row.originalPrice}}</td>
			</ng-container>

			<!-- Apply Discount Column -->
			<ng-container matColumnDef="discount">
				<th *matHeaderCellDef mat-header-cell mat-sort-header>Discount</th>
				<td *matCellDef="let row" mat-cell>
					<span *ngIf="row.discount; else notApplied">{{ row.discount }}</span>
					<ng-template #notApplied>
						<button mat-stroked-button color="primary" (click)="addDiscount(row)">Add discount</button>
					</ng-template>
				</td>
			</ng-container>

			<!-- Quantity Column -->
			<ng-container matColumnDef="quantity">
				<th *matHeaderCellDef mat-header-cell mat-sort-header>Quantity</th>
				<td *matCellDef="let row" mat-cell>{{row.quantity}}</td>
			</ng-container>

			<!-- Actions Column -->
			<ng-container matColumnDef="actions">
				<th *matHeaderCellDef mat-header-cell></th>
				<td *matCellDef="let row" mat-cell>
					<mat-icon class="clickable">edit</mat-icon>
					<mat-icon class="clickable" (click)="deleteProduct(row)">delete</mat-icon>
				</td>
			</ng-container>

			<tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
			<tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
		</table>
	</div>
	<mat-paginator class="paginator" [length]="datasource.data.length" [pageSize]="15"></mat-paginator>

	<button mat-fab>
		<mat-icon>add</mat-icon>
	</button>
</div>
