.products-table-container {

	.products-table {
		.mat-column-discount {
			max-width: 40px;
		}

		.mat-column-actions {
			max-width: 20px;
			text-align: right;

			mat-icon:not(:first-child) {
				margin-left: 20px;
			}
		}
	}
}

.paginator {
	margin-right: 5%;
}
